@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInUp {
    0% {
        opacity: 0;
        -moz-transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes fadeInUp {
    0% {
        opacity: 0;
        -o-transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* hide the scroll bar */
html::-webkit-scrollbar { width: 0 !important }
html { -ms-overflow-style: none; }
html { overflow: -moz-scrollbars-none; }

#mainContainer {height:100%;}
/* the navigation cyrcles in the right */
#dotNav {
    z-index: 5;
    right: 7%;
    padding: 7px;
    padding-top: 12px;
}
#dotNav ul {
    list-style: none;
    margin:0;
}
#dotNav li {
    position: relative;
    background: none repeat scroll 0 0 #5C5C5C;
    border:1px solid #aaaaaa;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    height: 12px;
    margin: 10px 10px 0px 0px;
    width: 12px;
    vertical-align:bottom;
    opacity:0.4;
}
#dotNav li.active {
    background-color: #ffffff;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #EEEEEE);
    background-repeat: repeat-x;
    opacity:1.0;
}
#dotNav li:hover {
    background: none repeat scroll 0 0 #EEEEEE;
}
#dotNav a {
    outline: 0;
    vertical-align:top;
    margin: 0px 0px 0px 25px;
    position: relative;
    top:-5px;
}
/* main nav */
.search {
    margin-top: 10px;
}
.flag {
    margin-top: 10px;
}
/* first section */
#slides_control > div{
  height: 200px;
}
img{
  margin:auto;
}
#slides_control {
  position:absolute;
  width: 100%;
  top:115px;
}
.flag {
	height: 34px;
  	width: 70px;
    float: right;
}
.float-right {
    float: right;
}
.carousel {
	height: 300px;
}
footer {
    margin-top: 420px;
}
/* carousel */
#slides_control .carousel-indicators li {
    border: 1px solid gray;
}
.carousel-inner {
	height: 300px;
}
.carousel-inner .item {
	height: 100%;
}
.carousel-inner .item img{
	max-height: 100%;
}
/* home screen */
/* contacts */
#map {
	height:450px;
}
.g-recaptcha{
    padding-left: 0px !important;
}
.contactSubmit {
    height: 78px;
}
/* auto fill search */
.dropdown-menu {
    width:100%;
}
#search {
    margin-top: -20px;
}

/* REFACTOR THIS */
.dealsContainer {
    margin-top: 125px;
}
.contacts {
    margin-top: 110px;
}
.spaceTop {
    margin-top: 5%;
}
.info{
    margin-bottom:50px;
    margin-top:50px;
}
.controll{
    margin-right: 0px!important;
}

/* ---------------------------------- */
/*          REFACTORED DESIGN         */
/* ---------------------------------- */
/* products containers and home screen*/
.dealsContainer .product {
    min-width: 250px;
    min-height: 250px;
    margin-bottom: 50px;
    position: relative;
}

.product-image-container {
    text-align: center;
    position: relative;
    margin-bottom: 50px;
    height: 500px;
}

/*.product-image-container h1 {*/
    /*max-height: 90px;*/
    /*overflow: hidden;*/
/*}*/

/*.product-image-container h2 {*/
    /*max-height: 50px;*/
    /*overflow: hidden;*/
/*}*/

/*.product-image-container h2 {*/
    /*max-height: 50px;*/
    /*overflow: hidden;*/
/*}*/

.image-container {
    width: 255px;
    height: 255px;
    border: 1px solid #d6d4d4;
}

.dealsContainer img {
    position: relative;
    padding: 15px;
    max-width: 100%;
}

.productPrice {
    margin-top: 30px;
}

.oldPrice{
    font-size: 17px;
    text-decoration: line-through;
}
.newPrice{
    font: 600 21px/26px "Open Sans", sans-serif;
    color: #333;
}

.spacer {
    margin-top: 10px;
    margin-bottom: 10px;
}

.box {
    position: absolute;
    top: -4px;
    left: -4px;
    overflow: hidden;
    height: 85px;
    width: 85px;
    text-align: center;
    z-index: 0;
}

.box span{
    font: 700 14px/12px Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 9px 0 7px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
    width: 130px;
    text-align: center;
    display: block;
    position: absolute;
    left: -33px;
    top: 16px;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.over-box span {
    color: #fff;
    background: #000;
}

.new-box span {
    color: #fff;
    background: #6ad4ff;
}

.offer-box span {
    color: #fff;
    background: #FF0015;
}

.quick-view-button {
    font: 700 13px/16px Arial, Helvetica, sans-serif;
    color: #777676;
    position: absolute;
    left: 50%;
    top: 140px;
    margin: -21px 0 0 -53px;
    padding: 13px 0 0;
    background: rgba(255, 255, 255, 0.82);
    width: 107px;
    height: 43px;
    text-align: center;
    -moz-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
    display: none;
    cursor:pointer;
}

.remove-from-cart-button {
    position: absolute;
    top: 0;
    right: 5px;
}

.content_price {
    position: relative;
    left: 0;
    bottom: 25px;
    width: 100%;
    background-color: black;
    padding: 9px 0;
    display: none;
}

.button-container {
    display: none;
}

.content_price span {
    color: white;
}

.add_to_cart_button {
    position: relative;
}

.product:hover .content_price {
    display: block;
}

.product:hover .button-container {
    display: block;
}
.product:hover .quick-view-button {
    display: block;
}
.infoProduct {
    max-height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;

}
.descriptionProduct {
    max-height:  50px;
    text-overflow: ellipsis;
    overflow: hidden;
}
/* VIEW PAGE */
.viewPage{
    margin-top: 125px;
}
.product-image img{
    width: 100%;
}
.product-image {
    position: relative;
    display: block;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #dbdbdb;
    background: #fff;
}
.box-info-product {
    background: #f6f6f6;
    border: 1px solid #d2d0d0;
    border-top: 1px solid #b0afaf;
    border-bottom: 1px solid #b0afaf;
}
.content_prices {
    padding: 13px 19px;
}
#new_price span{
    font-weight: 600;
    font-size: 29px;
    line-height: 32px;
    color: #333;
}
#old_price .oldPrice {
    margin-right: 10px;
    padding: 1px 2px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    font-size: 21px;
    line-height: 23px;
    color: #fff;
    background: #f13340;
    border: 1px solid #d02a2c;
}
#old_price .difference {
    font-size: 13px;
    color: #777;
    white-space: nowrap;
}
.product_attributes {
    box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.05);
    padding: 19px 19px 17px;
}
#quantity_wanted_p label{
    display: block;
    margin-bottom: 7px;
}
#quantity_wanted_p input{
    width: 78px;
    height: 27px;
    padding: 0 6px;
    float: left;
    border: 1px solid #d6d4d4;
    line-height: 27px;
    margin-right: 5px;
}
.button-minus {
    font-size: 14px;
    line-height: 14px;
    color: #c0c0c0;
    text-shadow: 1px -1px rgba(0, 0, 0, 0.05);
    padding: 0;
    border: 1px solid;
    border-color: #dedcdc #c1bfbf #b5b4b4 #dad8d8;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.button-minus span {
    display: block;
    border: 1px solid #fff;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    padding: 4px 0 0 0;
    background: white;
}
.button-plus {
    font-size: 14px;
    line-height: 14px;
    color: #c0c0c0;
    text-shadow: 1px -1px rgba(0, 0, 0, 0.05);
    padding: 0;
    border: 1px solid;
    border-color: #dedcdc #c1bfbf #b5b4b4 #dad8d8;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.button-plus span {
    display: block;
    border: 1px solid #fff;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    padding: 4px 0 0 0;
    background: white;
}
.box-info-product p {
    margin-bottom: 7px;
}
.buttons_bottom_block {
    clear: both;
    padding: 13px 19px 0;
}
.box-info-product .exclusive {
    padding: 0;
    border-top: 1px solid #0079b6;
    border-right: 1px solid #006fa8;
    border-left: 1px solid #006fa8;
    border-bottom: 1px solid #012740;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    display: block;
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #009ad0), color-stop(100%, #007ab7));
    background-image: -moz-linear-gradient(#009ad0, #007ab7);
    background-image: -webkit-linear-gradient(#009ad0, #007ab7);
    background-image: linear-gradient(#009ad0, #007ab7);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009ad0', endColorstr='#007ab7',GradientType=0 );
}
.box-info-product .exclusive span {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    border-top: 1px solid #06b2e6;
    border-right: 1px solid #06b2e6;
    border-left: 1px solid #06b2e6;
    border-bottom: 1px solid #06b2e6;
    text-shadow: 0 1px #015883;
    padding: 12px 36px 14px 60px;
    color: #fff;
    display: block !important;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.viewPage .quick-view-button {
    width: 130px;
    padding: 5px;
}
.product-image:hover .quick-view-button {
    display: block;
}
.page-product-box{
    padding-left: 0px;
}
.page-product-box .rte {
    padding: 0 20px 20px;
    word-wrap: break-word;
}
h3.page-product-heading {
    color: #555454;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    padding: 14px 20px 17px;
    margin: 0 0 20px;
    position: relative;
    border: 1px solid #d6d4d4;
    border-bottom: none;
    background: #fbfbfb;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.viewPage .product-image{
    text-align: center; margin: 1em 0;
}
.viewPage img{
    vertical-align: middle;
}
.viewPage .quick-view-button {
    top: 50%;
}
.cartContainer .image-container {
    width: 100%;
}
/* global variables */
a {
    color: #777;
    text-decoration: none;
}

.rightText {
    text-align: right;
}

.product-image-container h2 {
    font-size: 22px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
{
    display: none;
}

.loadingText {
    position: relative;
    margin: 100px auto;
    font-size: 3em;
    color: white;
    font-style: italic;
}

.spinner {
    width: 40px;
    height: 40px;

    position: relative;
    margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #BAFF82;;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}



@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}