@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInUp {
    0% {
        opacity: 0;
        -moz-transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes fadeInUp {
    0% {
        opacity: 0;
        -o-transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#mainContainer {height:100%;}
/* the navigation cyrcles in the right */
#dotNav {
    z-index: 5;
    right: 7%;
    padding: 7px;
    padding-top: 12px;
}
#dotNav ul {
    list-style: none;
    margin:0;
}
#dotNav li {
    position: relative;
    background: none repeat scroll 0 0 #5C5C5C;
    border:1px solid #aaaaaa;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    height: 12px;
    margin: 10px 10px 0px 0px;
    width: 12px;
    vertical-align:bottom;
    opacity:0.4;
}
#dotNav li.active {
    background-color: #ffffff;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #EEEEEE);
    background-repeat: repeat-x;
    opacity:1.0;
}
#dotNav li:hover {
    background: none repeat scroll 0 0 #EEEEEE;
}
#dotNav a {
    outline: 0;
    vertical-align:top;
    margin: 0px 0px 0px 25px;
    position: relative;
    top:-5px;
}
/* main nav */
.search {
    margin-top: 10px;
}
.flag {
    margin-top: 10px;
}
/* first section */
header {
    margin-top: 8%;
}
.item img{
    margin-left: 31%;
}
/* first section */
section.first {

}
.productPrice{
    color: orange;
}
.productPrice .oldPrice{
    text-decoration: line-through;
}
.productPrice .newPrice{
    font-weight: bold;
}
.productPrice .priceOff{
    font-style: italic;
}
.blue{
    color: blue;
}
.info{
    margin-bottom:50px;
    margin-top:50px;
}
