<div ng-include="'./angular/header/views/carousel.html'" ng-controller="HeaderCtrl"> </div>
<footer>
  <div class='info'  ng-repeat="model in response.products">
  	<div class="container {{main.test}}">
	  <h1>{{model.title}}</h1>
	  <p>{{model.description}}</p>
	</div>
  	<div class="container dealsContainer">
	  	<div class="col-lg-4" ng-repeat="insideModel in model.products">
	  	<!-- create title, image, description -->
	   		<div class="col-lg-4">
	     		<!-- image -->
	     		<img src="{{insideModel.image}}" alt="product" width="100%">
	   		</div>
		    <div class="col-lg-8">
		     <!-- title -->
		     <h3>{{insideModel.title}}</h3>
		     <!-- attention -->
		     <div class='blue'>
		       <span>{{insideModel.description}}</span>
		     </div>
		     <!-- description -->
		     <div class='infoProduct'>
		       <span>{{insideModel.moreInfo}}.</span>
		     </div>
		     <div class='productPrice'>
		       <span class='oldPrice'>{{insideModel.oldPrice}}</span> <span class='newPrice'>{{insideModel.newPrice}}</span> <span class='priceOff'>({{insideModel.offPrice}}% off)</span>
		     </div>
		   </div>
		</div>
	</div>
  </div>
</footer>
