<div class="container">
  <h1>{{category.title}}</h1>
  <p>{{category.description}}</p>
</div>
<div class="container dealsContainer">
  	<div class="col-lg-4" ng-repeat="model in products | filter: {'type': 'product'}" ng-click="onProductClick(model)">
  	<!-- create title, image, description -->
   		<div class="col-lg-4">
     		<!-- image -->
     		<img ng-if="model.image" src="{{'./img/' + config.smallImage + model.id + '.png'}}" alt="{{model.imageDescription}}">
			<img ng-if="model.image == false" src="./img/blank.png" alt="{{model.imageDescription}}">
   		</div>
	    <div class="col-lg-8">
	     <!-- title -->
	     <h3>{{model.title}}</h3>
	     <!-- attention -->
	     <div class='blue'>
	       <span>{{model.description}}</span>
	     </div>
	     <!-- description -->
	     <div class='infoProduct'>
	       <span>{{model.moreInfo}}.</span>
	     </div>
	     <div class='productPrice'>
	       <span class='oldPrice'>{{model.oldPrice}}</span> <span class='newPrice'>{{model.newPrice}}</span> <span class='priceOff'>({{model.offPrice}}% off)</span>
	     </div>
	   </div>
	</div>
</div>
