<div class="container">
  <h1>{{category.title}}</h1>
  <p>{{category.description}}</p>
</div>
<div class="container dealsContainer">
	<div>
		<div class="product col-xs-12 col-sm-4 col-md-3 first-in-line last-line first-item-of-mobile-line" ng-repeat="model in products | filter: {'type': 'product'}" ng-click="onProductClick(model)">
			<div class="product-image-container">
				<!-- create title, image, description -->
				<!-- image -->
				<div class="image-container">
					<img ng-if="model.image" ng-src="{{'./img/' + config.smallImage + model._id + '.png' + '?' + time}}" alt="{{model.imageDescription}}">
					<img ng-if="model.image == false" ng-src="{{'./img/blank.png' + '?' + time}}" alt="{{model.imageDescription}}">
				</div>
				 <!-- title -->
				 <h1>{{model.title}}</h1>
				 <!-- attention -->
				 <h2 class='descriptionProduct'>
				   <span>{{model.description}}</span>
				 </h2>
				 <!-- description -->
				 <div class='infoProduct'>
				   <span>{{model.moreInfo}}.</span>
				 </div>
				 <div class='productPrice'>
					 <span class='newPrice'>{{model.newPrice}}</span>
					 <span class='oldPrice' ng-show="model.oldPrice">{{model.oldPrice}}</span>
				 </div>
				 <a class="new-box box" ng-show="model.isNew">
					 <span>{{text.productNew}}</span>
				 </a>
				 <a class="offer-box box" ng-show="model.dailyOffer">
					 <span>{{text.productOffer}}</span>
				 </a>
				<a class="over-box box" ng-show="model.count == '0'">
					<span>{{text.productOver}}</span>
				</a>
				<!-- showed on hover -->
				<a class="quick-view-button">
					<span>{{text.productView}}</span>
				</a>
				<div class="content_price">
					<span class='newPrice'>{{model.newPrice}}</span>
					<span class='oldPrice' ng-show="model.oldPrice">{{model.oldPrice}}</span>
				</div>
				<div class="button-container">
					<div class="btn btn-primary add_to_cart_button" title="{{text.productAddToCart}}">
						<span>{{text.productAddToCart}}</span>
					</div>
				</div>
			</div>
		</div>
</div>
