<!-- create title, image, description -->
<input action="action" class="backBtn" type="button" value="Back" onclick="history.go(-1);" />
<div class="welcome">
	<div>Welcome to the product edit panel Toni!</div>
	<div>Choose what you want to edit with clicking on it.</div>
</div>
<div ng-repeat="categorie in categories" class="col-lg-12">
	<div class="welcome">
		<div>Category: {{categorie.title}}</div>
	</div>
	<div ng-repeat="product in products[$index]" class="col-lg-12 spacing">
		<div class="col-lg-4">
			<!-- image -->
			<img src="{{product.image}}" alt="{{product.image}}" width="100%">
	    	<label name="image">New image</label>
	    	<input type="text" name="image">
		</div>
	    <div class="col-lg-8">
	        <!-- title text input -->
	    	<div class="col-lg-12">
		        <div class="col-lg-6">
		        	<label name="oldTitle">Old Title</label>
		        	<span name="oldTitle">{{product.title}}</span>
		        </div>
		        <div class="col-lg-6">
		        	<label name="title">new Title</label>
		        	<input type="textarea" name="title" ng-model="input.title">
		        </div>
		    </div>
	        <!-- description text input -->
	    	<div class="col-lg-12">
		        <div class="col-lg-6">
		        	<label name="oldDescription">Old description</label>
		        	<span name="oldDescription">{{product.description}}</span>
		        </div>
		        <div class="col-lg-6">
		        	<label name="Description">New description</label>
		        	<input type="textarea" name="Description" ng-model="input.description">
		        </div>
		    </div>
	        <!-- more description text input -->
	    	<div class="col-lg-12">
		        <div class="col-lg-6">
		        	<label name="oldMore">Old more info</label>
		        	<span name="oldMore">{{product.moreInfo}}</span>
		        </div>
		        <div class="col-lg-6">
		        	<label name="moreInfo">New more info</label>
		        	<input type="textarea" name="moreInfo" ng-model="input.moreInfo">
		        </div>
		    </div>
	    	<div class="col-lg-12">
		        <div class="col-lg-6">
		        	<label name="oldNewPrice">Old New price</label>
		        	<span name="oldNewPrice">{{product.newPrice}}</span>
		        </div>
		        <div class="col-lg-6">
		        	<label name="newPrice">New New price</label>
		        	<input type="textarea" name="newPrice" ng-model="input.newPrice">
		    	</div>
		   	</div>
	    	<div class="col-lg-12">
		        <div class="col-lg-6">
		        	<label name="oldOldPrice">Old Old price</label>
		        	<span name="oldOldPrice">{{product.oldPrice}}</span>
		        </div>
		        <div class="col-lg-6">
		        	<label name="oldPrice">New old price</label>
		        	<input type="textarea" name="oldPrice" ng-model="input.oldPrice">
		    	</div>
		    </div>
	    	<div class="col-lg-12">
		        <div class="col-lg-6">
		        	<label name="oldOffPrice">Old Off price</label>
		        	<span name="oldOffPrice">{{product.offPrice}}</span>
		        </div>
		        <div class="col-lg-6">
		        	<label name="offPrice">New off price</label>
		        	<input type="textarea" name="offPrice" ng-model="input.offPrice">
		    	</div>
		    </div>
	    </div>
	    <input type="submit" value="Save" ng-click="save(product)">
	</div>
</div>
