<div class="container" ng-show="form">
  <form class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="username" id="inputEmail" class="form-control" ng-model="login.username" placeholder="Email address" required="" autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" ng-model="login.password" placeholder="Password" required="">
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="update(login)">Sign in</button>
  </form>
</div>
<footer ng-show="list">
    <div class="container">
    	<div class="welcome">
    		<div>Welcome to the admin panel Toni!</div>
    		<div>Choose what you want to edit</div>
    	</div>
	    <ul>
		    <li>
		    	<a ng-href="#/editNavigation" class="round green">
		    		Navigation
		    		<span class="round">
		    			Here you can edit the navigation.
		    		</span>
		    	</a>
		    </li>
		    <li>
		    	<a href="#" class="round red">
		    		Carousel
		    		<span class="round">
		    			Here you can change the images of the carousel
		    		</span>
		    	</a>
		    </li>
			<li>
				<a href="#" class="round yellow">
					Edit product
					<span class="round">
						Here you can edit the products that are sorted based on their list
					</span>
				</a>
			</li>
			<li>
				<a href="#" class="round green">
					Edit category
					<span class="round">
						Here you can edit the categories
					</span>
				</a>
			</li>
			<li>
				<a href="#" class="round yellow">
					Add product
					<span class="round">
						Here you can add products to category
					</span>
				</a>
			</li>
			<li>
				<a href="#" class="round red">
					Add category
					<span class="round">
						Here you can add new categories
					</span>
				</a>
			</li>
			<li>
				<a href="#" class="round green">
					Edit contact
					<span class="round">
						Here you can edit your contact information
					</span>
				</a>
			</li>
		</ul>
    </div>
</footer>
