<div class="welcome">
	<div>Welcome to the carousel edit panel {{name}}!</div>
	<div>Choose what you want to edit with clicking on it.</div>
</div>
<div ng-repeat="carouselItem in carouselImages | filter: {'type': 'carousel'}" class="carousel col-lg-12">
	<div class="col-lg-3">
		<span>Carousel slide {{$index + 1}}</span>
	</div>
	<div class="col-lg-1">
		<img src="{{carouselItem.url}}" alt="{{carouselItem.imageDescription}}" class="smallImage" ng-click="changeImage(carouselItem)">
	</div>
	<div class="col-lg-2">
		<span>Shown on position</span>
		<input type="text" name="position" ng-model="carouselItem.zIndex" value="{{carouselItem['z-index']}}">
	</div>
	<div class="col-lg-4">
	    <label name="isShown">Image description</label>
		<input name="isShown" type="text" ng-model="carouselItem.imageDescription" ng-checked="carouselItem.imageDescription" aria-label="Slave input">
	</div>
	<div class="col-lg-1">
		<a class="btn btn-info  col-md-12" ng-click="save(carouselItem)">Save</a>
	</div>
</div>

