<div class="container {{main.test}}">
  <h1>{{response.title}}</h1>
  <p>{{response.description}}</p>
</div>
<div class="container dealsContainer">
  	<div class="col-lg-4" ng-repeat="model in response.products">
  	<!-- create title, image, description -->
   		<div class="col-lg-4">
     		<!-- image -->
     		<img src="{{model.image}}" alt="product" width="100%">
   		</div>
	    <div class="col-lg-8">
	     <!-- title -->
	     <h3>{{model.title}}</h3>
	     <!-- attention -->
	     <div class='blue'>
	       <span>{{model.description}}</span>
	     </div>
	     <!-- description -->
	     <div class='infoProduct'>
	       <span>{{model.moreInfo}}.</span>
	     </div>
	     <div class='productPrice'>
	       <span class='oldPrice'>{{model.oldPrice}}</span> <span class='newPrice'>{{model.newPrice}}</span> <span class='priceOff'>({{model.offPrice}}% off)</span>
	     </div>
	   </div>
	</div>
</div>
