<div class="container dealsContainer" >
  <form class="form-signin" ng-show="isLogin">
    <h2 class="form-signin-heading">{{ text.loginHeader }}</h2>
    <label for="inputEmail" class="sr-only">{{ text.loginEmail }}</label>
    <input type="username" id="inputEmail" class="form-control" ng-model="login.email" placeholder="{{ text.loginEmail }}" required="" autofocus="">
    <label for="inputPassword" class="sr-only">{{ text.loginPassword }}</label>
    <input type="password" id="inputPassword" class="form-control" ng-model="login.password" placeholder="{{ text.loginPassword }}" required="">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="login.remember" > {{ text.loginRemember }}
      </label>
    </div>
    <div vc-recaptcha ng-model="gRecaptchaResponse" key="'6Lf10xETAAAAAFoODW33iIglPTpRXndsVkUmUOQh'" class="recaptcha"></div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="logon()">{{ text.loginLogin }}</button>
    <div>
      <span>{{ text.loginOr }}</span>
    </div>
    <button class="btn btn-lg btn-info btn-block" type="submit" ng-click="goToRegister()">{{ text.loginRegister }}</button>
  </form>
  <form class="form-signin" ng-show="!isLogin">
    <h2 class="form-signin-heading">{{ text.loginRegisterHeader }}</h2>
    <label for="inputEmail" class="sr-only">{{ text.loginEmail }}</label>
    <input type="username" id="inputEmail" class="form-control" ng-model="register.email" placeholder="{{ text.loginEmail }}" required="" autofocus="">
    <label for="inputPassword" class="sr-only">{{ text.loginPassword }}</label>
    <input type="password" id="inputPassword" class="form-control" ng-model="register.password" placeholder="{{ text.loginPassword }}" required=""> 
    <label for="inputRepeatPassword" class="sr-only">{{ text.loginRegisterRepeat }}</label>
    <input type="password" id="inputRepeatPassword" class="form-control" ng-model="register.repeatedPassword" placeholder="{{ text.loginRegisterRepeat }}" required="" autofocus="">
    <div vc-recaptcha ng-model="gRecaptchaResponse" key="'6Lf10xETAAAAAFoODW33iIglPTpRXndsVkUmUOQh'"  class="recaptcha"></div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="regon()">{{ text.loginRegister }}</button>
  </form>
</div>