<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta charset="utf-8">
<meta content="Freelancing Web and Mobile Interaction Designer based in Sofia, Bulgaria." name="description">
<title>Web &amp; Mobile UX/UI Designer — Dimitar Jilanov</title>
<link href="./css/normalize.css" media="screen" rel="stylesheet" type="text/css">
<link href="./css/site.css" media="screen" rel="stylesheet" type="text/css">
<link href="./css/mediaQuery.css" media="screen" rel="stylesheet" type="text/css">
<link href="./font-awesome-4.0.3/css/font-awesome.min.css" media="screen" rel="stylesheet" type="text/css">
<link href="./bootstrap-3.3.4-dist/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="./img/logo2.png" />
<!-- scripts -->
<script src="./js/config.js" ></script>
<script src="./js/jquery.min.js" ></script>
<script src="./js/site.js" ></script>
<script src="./js/script.js"></script>
<script src="./bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>