<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Bit LTD</a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="./camera.html">Cameras</a></li>
      <li><a href="#dvrs">DVR</a></li>
      <li><a href="#phones">Phones</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
    <div class="navbar-header navbar-right">
      <p class="navbar-text">
       <a href="#" class="navbar-link">Username  </a>
      </p>
      <div class='col-lg-1'></div>
    </div>
  </div>
  <div class="navbar-collapse collapse">
    <div class='col-lg-2'>
      <ul class="nav navbar-nav">
        <li><a href="#">Shop by Department</a></li>
      </ul>
    </div>
    <div class='col-lg-9'>
      <div class="input-group search">
        <input type="text" class="form-control" placeholder="Search for..." ng-model="main.searchInput">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Search</button>
        </span>
      </div>
    </div>
    <div class='col-lg-1'>
     <!-- image of the flag -->
     <img class='flag' src="img/flag-bg.png" alt="product" width="50px">
    </div>
  </div>
</nav>