<div class="container {{main.test}}">
  <h1>Today's Deals</h1>
  <p>The best deals and offers across the web. To find out about our deals first every day, subscribe to the Deals Newsletter.</p>
</div>
<div class="container dealsContainer">
  <div class="col-lg-4">
  <!-- create title, image, description -->
   <div class="col-lg-4">
     <!-- image -->
     <img src="img/profile.png" alt="product" width="100%">
   </div>
   <div class="col-lg-8">
     <!-- title -->
     <h3>Deal of the Day</h1>
     <!-- attention -->
     <div class='blue'>
       <span>500 x 6MM CARBON STEEL BALL BEARINGS </span>
     </div>
     <!-- description -->
     <div class='info'>
       <span>SMK.</span>
     </div>
     <div class='productPrice'>
       <span class='oldPrice'>£269.99</span> <span class='newPrice'>£109.99</span> <span class='priceOff'>(59% off)</span>
     </div>
   </div>
</div>
<div class="col-lg-4">
<!-- create title, image, description -->
  <div class="col-lg-4">
    <!-- image -->
    <img src="img/teaser.png" alt="product" width="100%">
  </div>
  <div class="col-lg-8">
     <!-- title -->
     <h3>Deal of the Day</h1>
     <!-- attention -->
     <div class='blue'>
       <span>G&P G&P Tokyo Marui M870 Gas Charging... </span>
     </div>
     <!-- description -->
     <div class='info'>
       <span></span>
     </div>
     <div class='productPrice'>
       <span class='oldPrice'></span> <span class='newPrice'>£109.99</span> <span class='priceOff'></span>
     </div>
   </div>
</div>
<div class="col-lg-4">
<!-- create title, image, description -->
   <div class="col-lg-4">
     <!-- image -->
     <img src="img/proj9.png" alt="product" width="100%">
   </div>
   <div class="col-lg-8">
     <!-- title -->
     <h3>Deal of the Day</h1>
     <!-- attention -->
     <div class='blue'>
       <span>59% Off on Netgear RN10400 ReadyNAS 104 4 Bay Network Attached Storage (No Disk)</span>
     </div>
     <!-- description -->
     <div class='info'>
       <span>All your files are fully protected and ready to stream, share, or access from anywherem with Netgear Ready NAS.</span>
     </div>
     <div class='productPrice'>
       <span class='oldPrice'>£269.99</span> <span class='newPrice'>£109.99</span> <span class='priceOff'>(59% off)</span>
     </div>
   </div>
</div>
</div>