<input action="action" class="backBtn" type="button" value="Back" onclick="history.go(-1);" />
<div class="welcome">
	<div>Welcome to the category edit panel Toni!</div>
	<div>Choose what you want to edit with clicking on it.</div>
</div>
<div ng-repeat="category in categories" class="col-lg-12 spacing">
    <div class="col-lg-8">
        <!-- title text input -->
    	<div class="col-lg-12">
	        <div class="col-lg-6">
	        	<label name="oldTitle">Old Title</label>
	        	<span name="oldTitle">{{category.title}}</span>
	        </div>
	        <div class="col-lg-6">
	        	<label name="title">new Title</label>
	        	<input type="textarea" name="title" ng-model="input.title">
	        </div>
	    </div>
        <!-- description text input -->
    	<div class="col-lg-12">
	        <div class="col-lg-6">
	        	<label name="oldDescription">Old description</label>
	        	<span name="oldDescription">{{category.description}}</span>
	        </div>
	        <div class="col-lg-6">
	        	<label name="Description">New description</label>
	        	<input type="textarea" name="Description" ng-model="input.description">
	        </div>
	    </div>
        <!-- more description text input -->
    	<div class="col-lg-12">
	        <div class="col-lg-6">
	        	<label name="oldName">Old name</label>
	        	<span name="oldName">{{category.name}}</span>
	        </div>
	        <div class="col-lg-6">
	        	<label name="name">New name</label>
	        	<input type="textarea" name="name" ng-model="input.name">
	        </div>
	    </div>
    	<div class="col-lg-12">
	        <div class="col-lg-6">
	        	<label name="oldZIndex">Old z-index</label>
	        	<span name="oldZIndex">{{category['z-index']}}</span>
	        </div>
	        <div class="col-lg-6">
	        	<label name="newPrice">New z-index</label>
	        	<input type="textarea" name="newZIndex" ng-model="input.zIndex">
	    	</div>
	   	</div>
    	<div class="col-lg-12">
	        <div class="col-lg-6">
	        	<label name="oldShowOnNav">Old show on nav</label>
	        	<span name="oldShowOnNav">{{category.shownOnNav}}</span>
	        </div>
	        <div class="col-lg-6">
	        	<label name="showOnNav">New show on nav</label>
	        	<input type="textarea" name="showOnNav" ng-model="input.shownOnNav">
	    	</div>
	    </div>
    </div>
    <input type="submit" value="Save" ng-click="onSave()">
</div>
